doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/css/style.css')
      link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    block js
      script(src='//localhost:35729/livereload.js')
      script(src='//code.jquery.com/jquery-2.1.1.min.js')
  body.container
    block content
